/* Create a step size.*/
/* This is the percentage each heading will be reduced by. */
$step-size-heading: 0.3;
/* The mixin */
@mixin heading-size($size) {
  font-size: $size * $step-size-heading * 2 + rem;
}

$start: 6;
@each $h in h1, h2, h3, h4, h5, h6 {
  #{$h} {
    @include heading-size($start);
    font-family: 'Cantarell', Helvetica, Arial, sans-serif;
    letter-spacing: -2px;
  }

  $start: $start - 1
}

h1 {
  font-family: 'Fjalla One', Helvetica, Arial, sans-serif;
  letter-spacing: 3px;
  text-shadow: 3px 3px #555;
  text-transform: uppercase;
}
