.todayWeatherDataContainer {
  display: flex;
}

.todayWeatherDataContainer > * {
  margin-right: 1rem;
}

.todayWeatherDataContainer > :last-child {
  margin-right: 0;
}

@media screen and (max-width: 767px) {
  .todayWeatherDataContainer {
    flex-direction: column;
  }

  /* The weird attribute selector on class is in order to reference a plain
   * non-module classname on a child element */
  .todayWeatherDataContainer > [class*="card"] {
    margin: 1rem 0;
    width: auto;
  }
}
