.table {
  border-collapse: collapse;
  width: 100%;
  margin: 2rem 0;
}

.table tr:nth-child(odd) {
  background-color: #111;
}

.table td, .table th {
  padding: .5rem;
  text-align: left;
  vertical-align: middle;
}
