.card {
  border: 1px solid #cecece;
  border-radius: 5px;
  margin: 2rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 10%;
}

.card > * {
  display: block;
  margin-bottom: 2rem;
}

.card > div {
  font-size: 2rem;
}
